body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em;
}
.mainContainer  {    
    display: flex;
    flex-flow: row nowrap;  
    justify-content: space-around;
}
.logo  {
    text-align: center;
}

.welcomeMessage {
    color: #9F9F9F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2em;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

form p  {
    font-size: 1em;
    text-align: center;
}
#email-label, #password-label, #confirmpassword {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    width: 95%;
    padding: .5em;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
}
  #email, #password, #confirmpassword{
    font-size: .8em;
}
.button  {
    width: 100%;
    padding: .75em 2em;
    background-color: #8366CC;
    color: whitesmoke;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}
.button:hover  {
    background-color: darkslateblue;
    color: antiquewhite;
}
.button:active  {
    top: 2px;
}
.checkbox  {
    font-size: .8em;
}
.checkbox p {
    display: inline-block;
    margin-left: 3em;
    padding-left: 3em;
}
a  {
    text-decoration: none;
    color: rgb(54, 94, 163);
}   
.footer-star  {
    font-size: .80em;
    margin-bottom: 7em;
}
footer p  {
    font-size: .75em;    
    line-height: 0.5em;
}
/*CSS for sign up page */
h4  {
    letter-spacing: 0.1em;
    font-weight: 500;
}

#firstname-label, #lastname-label, #password2-label {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    width: 95%;
    padding: .5em;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
}
#firstname, #lastname, #password2 {
    font-size: .8em;
}
.copyright  {
    margin-top: 7em;
}


/*CSS for second page */
.landingContainer   {    
    background-color: #F6F6F6;
    text-align: center;
} 
.blob1  {
    position: absolute;
    width: 50px;
    height: 15px;
    top: -4.4em;
    left: 270px;
}
.mini-secondpage  h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0%;
    text-align: center;
    color: #8366CC;
} 
.mini-secondpage p{
    font-weight: normal;      
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    }
.mini-secondpage  {
    box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: .5em;
    margin: 24% 9%;
    padding-bottom: 2em;
}
.mini-secondpage img  {
    height: 21em;
    width: 18em;
    margin: 0% 15%;   
}