body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em;
}
html   {
    scroll-behavior: smooth;
}
.mainContainer  {    
    display: flex;
    flex-flow: row nowrap;  
    justify-content: space-around;
}
.autoContainer  {
    background-color: whitesmoke;
}
.logo  {
    text-align: center;
}

.welcomeMessage {
    color: #9F9F9F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 1em;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
} 
.twit  {
    width: 10.5em;
    height: 2.15em;
    margin-top: 1em;
    border-radius: .3em;
}
.or  {
    text-align: center;
}
form  {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

form p  {
    font-size: 1em;
    text-align: center; 
}
input:placeholder-shown {
    font-size: .85em;
     
}
#email-label, #password-label, #confirmpassword {
    border-top: none;
    border-left: none;
    border-right: none;
    
    width: 95%;
    padding: .5em;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    outline: none !important;
}
  #email, #password, #confirmpassword{
    font-size: 0.8em;
    color: grey;
}
.button  {
    width: 100%;
    padding: .35em 2em;
    background-color: #8366CC;
    color: whitesmoke;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: .1em;
}
.button:hover  {
    background-color: darkslateblue;
    color: antiquewhite;
    font-weight: bolder;
}
.button:active  {
    top: 2px;
}
.checkbox  {
    font-size: .8em;
}
.checkbox p {
    display: inline-block;
    margin-left: 3em;
    padding-left: 3em;
}
a  {
    text-decoration: none;
    color: #8366CC;
}  
a:hover  {
    text-decoration: underline;
} 
.footer-star  {
    font-size: .80em;
    margin: 1em 0em 7em 0em;    
}

footer p  {
    font-size: .75em;    
    line-height: 0.5em;
}

/*CSS for sign up page */
h4  {
    letter-spacing: 0.1em;
    font-weight: 500;
}

#firstname-label, #lastname-label, #confirmpassword-label {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 95%;
    padding: .5em;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
}
#firstname, #lastname, #password2 {
    font-size: .8em;
}
.copyright  {
    margin-top: 7em;
}
#result  {
    width: 2em;
}


