* {
    box-sizing: border-box;
} 
body  {
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color:  #FcFcFc;
    color: #543948;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}
html, body {
    height:100%; 
    margin:0; 
}
.mainContainer{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;  
    justify-content: space-around;
}
.authContainer  {
    padding: 5em;
    width: 40%;
}
.landingContainer   {
    background-color: #F6F6F6;
    text-align: center;
    background-image: url("https://res.cloudinary.com/dga2j4uiv/image/upload/v1568805319/background.png");
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingContainer > div {
    width: 50%;
}
.welcomeMessage {
    color: #9F9F9F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
form{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
#email-label,#password-label {
    width:90%;
    border:none;
    border-bottom: 1.5px solid #6440BF;
    outline: none !important;
    margin-left: 1.3em;
    color: black;
}
.button{
    width: 90%;
    background-color: white;
    border: 2px solid #6440BF;
    color: #8366CC;
    height: 40px;
    margin-left:0.9em;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 2em;
}
.button:hover{
    background-color: #8366CC;
    color: #F6F6F6;
    font-weight: bolder;
}
.checkbox p{
    display: inline-block;
    margin-left: 3em;
    padding-left: 3em;
}
#email ,#password {
    margin-left: 10px;
    margin-right: 200px;
    font-size: 0.8em;
    color: gray;
}
p {
    text-align: center;
}
footer {
    display: flex;
    flex-direction: column;
}
footer p{
    text-align: left;
}
img{
    display: inline;
    justify-content: center;
    background-color: none;
}
.social-media{
    background-color: transparent;
}
a{
    text-decoration: none;
    color: #8366CC;
}
a:hover{
    text-decoration: underline;
}
.footer-star{
    font-size: small;
    font-weight: 400;
    text-align: center;
}
.footer-star a{
    padding-left: 1em;
}

.carousel-indicators {
    bottom:-50px;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1024px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
    .authContainer  {
        padding: 2em;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .authContainer  {
        padding: 1em;
    }  
}