*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:  #FFFFFF;
    color: black;
    margin: 10px auto;
    font-weight: 400;
    width: 100%;
    height: 100%;
}
.mainContainer{
    display: flex;
    flex-direction: row;
}
.authContainer  {
    display: flex;
    flex: 30%;
    /*@kuic*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 2.5em;
    background-color: #ffffff;
}
header{
    display: block;
    height: 50px;
}
.logo{
    height: 50px;
    margin-top: 6em;
    background-color: #F6F6F6;
}
.landingContainer   {
    background: url("../images/background.png") center no-repeat #F6F6F6;
    display: flex;
    flex: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
/*Carousel*/
.landingContainer > div {
    width: 50%;
}
.welcomeMessage {
margin-top: 10px;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #9F9F9F;
}
form{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#email-label,#password-label,#firstname-label,#lastname-label,#confirmpassword{
    width:90%;
    border:none;
    border-bottom: 1.5px solid #6440BF;
    outline: none !important;
    margin-left: 1.3em;
    color: black;
    /*@kuic*/
    font-weight: normal;
    background-color: #ffffff;
    height: 2em;
}
.button{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid #8366CC;
    color: #8366CC;
    height: 40px;
    margin-left: 1em;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 2em;
}
.button:hover{
    background-color: #8366CC;
    color: #F6F6F6;
    font-weight: bolder;
}
.checkbox p{
    display: inline-block;
    margin-left: 8em;
    padding-left: 4em;
    font-size: 12px;
    line-height: 15px;
}
.checkbox label{
    font-size: 12px;
    line-height: 15px;
}
.label{
    margin-left: 1.3em;
    font-size: 0.8em;
    color: gray;
}
p {
    text-align: center;
}
.account{
    font-size: 15px;
    text-align: center;
    margin: 0.5em;
}
.account a{
    padding-left: 1em;
}
.footer{
    margin-top: 45px;
    text-align: justify;
}
.footer p{
display: inline-block;
text-align: justify;
font-size: 10px;
line-height: 11px;
}
img{
    display: inline;
    justify-content: center;
    background-color: none;
}
.social-media img{
    background-color: transparent;
    display: inline;
}
a{
    text-decoration: none;
    color: #8366CC;
}
a:hover{
    text-decoration: underline;
}
.footer-star{
    font-size: small;
    font-weight: 400;
    text-align: center;
}
.footer-star a{
    padding-left: 1em;
}

.carousel-indicators {
    bottom:-50px;
}
.social-media{
    background-color: transparent;
}
a{
    text-decoration: none;
    color: #1391EC;;
}
a:hover{
    text-decoration: underline;
}
.social-media img{
display: flex;
}
